{
  "openapi": "3.0.0",
  "info": {
    "title": "Talkover API Documentation",
    "version": "1.1.0",
    "description": "API documentation for Talkover - AI-powered voice conversation platform.\n\nThis OpenAPI document covers a curated subset of the API. The full reference (including Calendars, SIP Trunks, Auto Topup, Callback Agents, Conversation Flow, Campaign Webhooks, Campaign SFTP, Phone Number release flow, Action Integrations, Account API and more) is available as guided pages under **API Reference**."
  },
  "servers": [
    {
      "url": "https://talkover.app/api/v1",
      "description": "Production API"
    }
  ],
  "tags": [
    { "name": "Agents", "description": "Voice agent CRUD, partial updates, publishing, pricing and advanced settings." },
    { "name": "Training", "description": "Knowledge entries attached to an agent." },
    { "name": "Actions", "description": "Webhook, transfer, hold and integration actions executed by the agent during a call." },
    { "name": "Action Integrations", "description": "Catalog of pre-built integrations available to attach to actions." },
    { "name": "Conversation Flow", "description": "Node-graph conversation flow configuration for flow-driven agents." },
    { "name": "Calls", "description": "Make calls, list calls, end calls, find active calls." },
    { "name": "Campaigns", "description": "Campaign CRUD, scheduling, retry and DNC rules." },
    { "name": "Campaign Webhooks", "description": "Webhooks scoped to a campaign (lifecycle events)." },
    { "name": "Campaign SFTP", "description": "SFTP-based contact list import and result export." },
    { "name": "Callback Agents", "description": "Inbound agents that handle return calls from outbound source agents." },
    { "name": "Calendars", "description": "Calendars, members, events, attendees, availability rules, provider connections." },
    { "name": "Voice Templates", "description": "Catalog of available voices." },
    { "name": "Phone Numbers", "description": "List numbers and submit release requests." },
    { "name": "Webhooks", "description": "Agent webhook configuration, delivery logs, retry." },
    { "name": "Custom SIP Trunks", "description": "Enterprise: register custom SIP trunks and DIDs." },
    { "name": "Auto Topup", "description": "Threshold and scheduled balance recharges." },
    { "name": "Account API", "description": "User session endpoints: profile, personal access tokens, credits." },
    { "name": "Utility", "description": "Health checks and other utility endpoints." }
  ],
  "paths": {
    "/agents": {
      "get": {
        "tags": ["Agents"],
        "summary": "List voice agents",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["draft", "published"]
            },
            "description": "Filter by agent status"
          },
          {
            "name": "direction",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["inbound", "outbound"]
            },
            "description": "Filter by call direction"
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search by agent name or label"
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            },
            "description": "Number of items per page"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "List of agents retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Agent"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  }
                }
                }
              }
            }
          },
        "x-code-samples": {
          "curl": {
            "lang": "curl",
            "source": "curl -X GET \\\n  '{{baseUrl}}/agents' \\\n  -H 'Authorization: Bearer YOUR_TOKEN'"
          },
          "php": {
            "lang": "php",
            "source": "<?php\n\n$client = new \\GuzzleHttp\\Client();\n$response = $client->get('{{baseUrl}}/agents', [\n    'headers' => [\n        'Authorization' => 'Bearer YOUR_TOKEN',\n    ],\n]);\n$data = json_decode($response->getBody());"
          },
          "nodejs": {
            "lang": "javascript",
            "source": "const axios = require('axios');\n\nconst response = await axios.get('{{baseUrl}}/agents', {\n  headers: {\n    'Authorization': 'Bearer YOUR_TOKEN'\n  }\n});\nconst data = response.data;"
          }
        }
      },
      "post": {
        "tags": ["Agents"],
        "summary": "Create a new voice agent",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["label", "name", "language", "interrupt_sensitivity", "endpointing_sensitivity", "ivr_navigation_mode", "conversation_speed", "initial_message_delay", "ask_if_human_present_on_idle", "idle_time_seconds", "llm_temperature", "enable_recording", "direction", "who_speaks_first"],
                "properties": {
                  "label": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "Agent label"
                  },
                  "description": {
                    "type": "string",
                    "description": "Agent description"
                  },
                  "name": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "Agent name"
                  },
                  "language": {
                    "type": "string",
                    "description": "Agent language (e.g., en-US, pt-BR, es-ES)"
                  },
                  "initial_message": {
                    "type": "string",
                    "description": "Initial message the agent will say"
                  },
                  "interrupt_sensitivity": {
                    "type": "string",
                    "enum": ["low", "medium", "high"],
                    "description": "Interrupt sensitivity level"
                  },
                  "endpointing_sensitivity": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "Endpointing sensitivity"
                  },
                  "ivr_navigation_mode": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "IVR navigation mode"
                  },
                  "conversation_speed": {
                    "type": "number",
                    "minimum": 0.1,
                    "maximum": 3.0,
                    "description": "Conversation speed"
                  },
                  "initial_message_delay": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 60,
                    "description": "Initial message delay in seconds"
                  },
                  "ask_if_human_present_on_idle": {
                    "type": "boolean",
                    "description": "Whether to ask if human is present when idle"
                  },
                  "idle_time_seconds": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 300,
                    "description": "Idle time in seconds"
                  },
                  "llm_temperature": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 2,
                    "description": "LLM temperature"
                  },
                  "enable_recording": {
                    "type": "boolean",
                    "description": "Whether to enable call recording"
                  },
                  "direction": {
                    "type": "string",
                    "enum": ["inbound", "outbound"],
                    "description": "Call direction"
                  },
                  "who_speaks_first": {
                    "type": "string",
                    "enum": ["agent", "user"],
                    "description": "Who speaks first"
                  }
                }
              },
              "example": {
                "label": "Customer Service Agent",
                "description": "A helpful customer service agent",
                "name": "Customer Service Agent",
                "language": "en-US",
                "initial_message": "Hello, how can I help you today?",
                "interrupt_sensitivity": "medium",
                "endpointing_sensitivity": "medium",
                "ivr_navigation_mode": "standard",
                "conversation_speed": 1.0,
                "initial_message_delay": 2,
                "ask_if_human_present_on_idle": true,
                "idle_time_seconds": 30,
                "llm_temperature": 0.7,
                "enable_recording": true,
                "direction": "inbound",
                "who_speaks_first": "agent"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Agent created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent"
                }
              }
            }
          },
          "422": {
            "description": "Validation error"
          }
        },
        "x-code-samples": {
          "curl": {
            "lang": "curl",
            "source": "curl -X POST \\\n  '{{baseUrl}}/agents' \\\n  -H 'Content-Type: application/json' \\\n  -H 'Authorization: Bearer YOUR_TOKEN' \\\n  -d '{\n    \"label\": \"Customer Service Agent\",\n    \"name\": \"Customer Service Agent\",\n    \"language\": \"en-US\",\n    \"interrupt_sensitivity\": \"medium\",\n    \"endpointing_sensitivity\": \"medium\",\n    \"ivr_navigation_mode\": \"standard\",\n    \"conversation_speed\": 1.0,\n    \"initial_message_delay\": 2,\n    \"ask_if_human_present_on_idle\": true,\n    \"idle_time_seconds\": 30,\n    \"llm_temperature\": 0.7,\n    \"enable_recording\": true,\n    \"direction\": \"inbound\",\n    \"who_speaks_first\": \"agent\"\n  }'"
          },
          "php": {
            "lang": "php",
            "source": "<?php\n\n$client = new \\GuzzleHttp\\Client();\n$response = $client->post('{{baseUrl}}/agents', [\n    'headers' => [\n        'Authorization' => 'Bearer YOUR_TOKEN',\n        'Content-Type' => 'application/json',\n    ],\n    'json' => [\n        'label' => 'Customer Service Agent',\n        'name' => 'Customer Service Agent',\n        'language' => 'en-US',\n        'interrupt_sensitivity' => 'medium',\n        'endpointing_sensitivity' => 'medium',\n        'ivr_navigation_mode' => 'standard',\n        'conversation_speed' => 1.0,\n        'initial_message_delay' => 2,\n        'ask_if_human_present_on_idle' => true,\n        'idle_time_seconds' => 30,\n        'llm_temperature' => 0.7,\n        'enable_recording' => true,\n        'direction' => 'inbound',\n        'who_speaks_first' => 'agent'\n    ],\n]);\n$data = json_decode($response->getBody());"
          },
          "nodejs": {
            "lang": "javascript",
            "source": "const axios = require('axios');\n\nconst response = await axios.post('{{baseUrl}}/agents', {\n  label: 'Customer Service Agent',\n  name: 'Customer Service Agent',\n  language: 'en-US',\n  interrupt_sensitivity: 'medium',\n  endpointing_sensitivity: 'medium',\n  ivr_navigation_mode: 'standard',\n  conversation_speed: 1.0,\n  initial_message_delay: 2,\n  ask_if_human_present_on_idle: true,\n  idle_time_seconds: 30,\n  llm_temperature: 0.7,\n  enable_recording: true,\n  direction: 'inbound',\n  who_speaks_first: 'agent'\n}, {\n  headers: {\n    'Authorization': 'Bearer YOUR_TOKEN'\n  }\n});\nconst data = response.data;"
          }
        }
      }
    },
    "/agents/{agent_id}": {
      "get": {
        "tags": ["Agents"],
        "summary": "Get a specific voice agent",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Agent ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Agent retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent"
          }
        }
      }
    },
          "404": {
            "description": "Agent not found"
          }
        },
        "x-code-samples": {
          "curl": {
            "lang": "curl",
            "source": "curl -X GET \\\n  '{{baseUrl}}/agents/123e4567-e89b-12d3-a456-426614174000' \\\n  -H 'Authorization: Bearer YOUR_TOKEN'"
          },
          "php": {
            "lang": "php",
            "source": "<?php\n\n$client = new \\GuzzleHttp\\Client();\n$response = $client->get('{{baseUrl}}/agents/123e4567-e89b-12d3-a456-426614174000', [\n    'headers' => [\n        'Authorization' => 'Bearer YOUR_TOKEN',\n    ],\n]);\n$data = json_decode($response->getBody());"
          },
          "nodejs": {
            "lang": "javascript",
            "source": "const axios = require('axios');\n\nconst response = await axios.get('{{baseUrl}}/agents/123e4567-e89b-12d3-a456-426614174000', {\n  headers: {\n    'Authorization': 'Bearer YOUR_TOKEN'\n  }\n});\nconst data = response.data;"
          }
        }
      },
      "delete": {
        "tags": ["Agents"],
        "summary": "Delete a voice agent",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Agent ID"
          }
        ],
        "responses": {
          "204": {
            "description": "Agent deleted successfully"
          },
          "404": {
            "description": "Agent not found"
          }
        },
        "x-code-samples": {
          "curl": {
            "lang": "curl",
            "source": "curl -X DELETE \\\n  '{{baseUrl}}/agents/123e4567-e89b-12d3-a456-426614174000' \\\n  -H 'Authorization: Bearer YOUR_TOKEN'"
          },
          "php": {
            "lang": "php",
            "source": "<?php\n\n$client = new \\GuzzleHttp\\Client();\n$response = $client->delete('{{baseUrl}}/agents/123e4567-e89b-12d3-a456-426614174000', [\n    'headers' => [\n        'Authorization' => 'Bearer YOUR_TOKEN',\n    ],\n]);"
          },
          "nodejs": {
            "lang": "javascript",
            "source": "const axios = require('axios');\n\nconst response = await axios.delete('{{baseUrl}}/agents/123e4567-e89b-12d3-a456-426614174000', {\n  headers: {\n    'Authorization': 'Bearer YOUR_TOKEN'\n  }\n});"
          }
        }
      }
    },
    "/agents/{agent_id}/voice": {
      "put": {
        "tags": ["Agents"],
        "summary": "Update agent voice settings",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Agent ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "voice_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Voice template ID"
                  },
                  "similarity": {
                    "type": "number",
                    "minimum": 0.5,
                    "maximum": 1.0,
                    "description": "Voice similarity setting"
                  },
                  "stability": {
                    "type": "number",
                    "minimum": 0.5,
                    "maximum": 1.0,
                    "description": "Voice stability setting"
                  }
                }
              },
              "example": {
                "voice_id": "voice-template-uuid",
                "similarity": 0.75,
                "stability": 0.8
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Voice settings updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent"
          }
        }
      }
    },
          "404": {
            "description": "Agent or voice template not found"
          }
        },
        "x-code-samples": {
          "curl": {
            "lang": "curl",
            "source": "curl -X PUT \\\n  '{{baseUrl}}/agents/123e4567-e89b-12d3-a456-426614174000/voice' \\\n  -H 'Content-Type: application/json' \\\n  -H 'Authorization: Bearer YOUR_TOKEN' \\\n  -d '{\n    \"voice_id\": \"voice-template-uuid\",\n    \"similarity\": 0.75,\n    \"stability\": 0.8\n  }'"
          },
          "php": {
            "lang": "php",
            "source": "<?php\n\n$client = new \\GuzzleHttp\\Client();\n$response = $client->put('{{baseUrl}}/agents/123e4567-e89b-12d3-a456-426614174000/voice', [\n    'headers' => [\n        'Authorization' => 'Bearer YOUR_TOKEN',\n        'Content-Type' => 'application/json',\n    ],\n    'json' => [\n        'voice_id' => 'voice-template-uuid',\n        'similarity' => 0.75,\n        'stability' => 0.8\n    ],\n]);\n$data = json_decode($response->getBody());"
          },
          "nodejs": {
            "lang": "javascript",
            "source": "const axios = require('axios');\n\nconst response = await axios.put('{{baseUrl}}/agents/123e4567-e89b-12d3-a456-426614174000/voice', {\n  voice_id: 'voice-template-uuid',\n  similarity: 0.75,\n  stability: 0.8\n}, {\n  headers: {\n    'Authorization': 'Bearer YOUR_TOKEN'\n  }\n});\nconst data = response.data;"
          }
        }
      }
    },
    "/agents/{agent_id}/knowledge": {
      "put": {
        "tags": ["Agents"],
        "summary": "Update agent knowledge",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Agent ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["prompt"],
                "properties": {
                  "prompt": {
                    "type": "string",
                    "description": "Agent prompt/instructions"
                  }
                }
              },
              "example": {
                "prompt": "You are a helpful customer service agent..."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Knowledge updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent"
                }
              }
            }
          },
          "404": {
            "description": "Agent not found"
          }
        },
        "x-code-samples": {
          "curl": {
            "lang": "curl",
            "source": "curl -X PUT \\\n  '{{baseUrl}}/agents/123e4567-e89b-12d3-a456-426614174000/knowledge' \\\n  -H 'Content-Type: application/json' \\\n  -H 'Authorization: Bearer YOUR_TOKEN' \\\n  -d '{\n    \"prompt\": \"You are a helpful customer service agent...\"\n  }'"
          },
          "php": {
            "lang": "php",
            "source": "<?php\n\n$client = new \\GuzzleHttp\\Client();\n$response = $client->put('{{baseUrl}}/agents/123e4567-e89b-12d3-a456-426614174000/knowledge', [\n    'headers' => [\n        'Authorization' => 'Bearer YOUR_TOKEN',\n        'Content-Type' => 'application/json',\n    ],\n    'json' => [\n        'prompt' => 'You are a helpful customer service agent...'\n    ],\n]);\n$data = json_decode($response->getBody());"
          },
          "nodejs": {
            "lang": "javascript",
            "source": "const axios = require('axios');\n\nconst response = await axios.put('{{baseUrl}}/agents/123e4567-e89b-12d3-a456-426614174000/knowledge', {\n  prompt: 'You are a helpful customer service agent...'\n}, {\n  headers: {\n    'Authorization': 'Bearer YOUR_TOKEN'\n  }\n});\nconst data = response.data;"
          }
        }
      }
    },
    "/agents/{agent_id}/calls": {
      "get": {
        "tags": ["Calls"],
        "summary": "Get agent calls",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Agent ID"
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search in phone numbers or call SID"
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            },
            "description": "Number of items per page"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "Agent calls retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Call"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  }
                }
              }
            }
          }
        },
        "x-code-samples": {
          "curl": {
            "lang": "curl",
            "source": "curl -X GET \\\n  '{{baseUrl}}/agents/123e4567-e89b-12d3-a456-426614174000/calls' \\\n  -H 'Authorization: Bearer YOUR_TOKEN'"
          },
          "php": {
            "lang": "php",
            "source": "<?php\n\n$client = new \\GuzzleHttp\\Client();\n$response = $client->get('{{baseUrl}}/agents/123e4567-e89b-12d3-a456-426614174000/calls', [\n    'headers' => [\n        'Authorization' => 'Bearer YOUR_TOKEN',\n    ],\n]);\n$data = json_decode($response->getBody());"
          },
          "nodejs": {
            "lang": "javascript",
            "source": "const axios = require('axios');\n\nconst response = await axios.get('{{baseUrl}}/agents/123e4567-e89b-12d3-a456-426614174000/calls', {\n  headers: {\n    'Authorization': 'Bearer YOUR_TOKEN'\n  }\n});\nconst data = response.data;"
          }
        }
      }
    },
    "/agents/{agent_id}/trainings": {
      "get": {
        "tags": ["Training"],
        "summary": "List agent trainings",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Agent ID"
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            },
            "description": "Number of items per page"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "Trainings retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Training"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  }
                }
          }
        }
      }
    },
        "x-code-samples": {
          "curl": {
            "lang": "curl",
            "source": "curl -X GET \\\n  '{{baseUrl}}/agents/123e4567-e89b-12d3-a456-426614174000/trainings' \\\n  -H 'Authorization: Bearer YOUR_TOKEN'"
          },
          "php": {
            "lang": "php",
            "source": "<?php\n\n$client = new \\GuzzleHttp\\Client();\n$response = $client->get('{{baseUrl}}/agents/123e4567-e89b-12d3-a456-426614174000/trainings', [\n    'headers' => [\n        'Authorization' => 'Bearer YOUR_TOKEN',\n    ],\n]);\n$data = json_decode($response->getBody());"
          },
          "nodejs": {
            "lang": "javascript",
            "source": "const axios = require('axios');\n\nconst response = await axios.get('{{baseUrl}}/agents/123e4567-e89b-12d3-a456-426614174000/trainings', {\n  headers: {\n    'Authorization': 'Bearer YOUR_TOKEN'\n  }\n});\nconst data = response.data;"
          }
        }
      },
      "post": {
        "tags": ["Training"],
        "summary": "Create agent training",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Agent ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["instruction"],
                "properties": {
                  "instruction": {
                    "type": "string",
                    "description": "Training instruction"
                  }
                }
              },
              "example": {
                "instruction": "When a customer asks about refunds, explain the 30-day return policy..."
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Training created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Training"
                }
              }
            }
          },
          "422": {
            "description": "Validation error"
          }
        },
        "x-code-samples": {
          "curl": {
            "lang": "curl",
            "source": "curl -X POST \\\n  '{{baseUrl}}/agents/123e4567-e89b-12d3-a456-426614174000/trainings' \\\n  -H 'Content-Type: application/json' \\\n  -H 'Authorization: Bearer YOUR_TOKEN' \\\n  -d '{\n    \"instruction\": \"When a customer asks about refunds, explain the 30-day return policy...\"\n  }'"
          },
          "php": {
            "lang": "php",
            "source": "<?php\n\n$client = new \\GuzzleHttp\\Client();\n$response = $client->post('{{baseUrl}}/agents/123e4567-e89b-12d3-a456-426614174000/trainings', [\n    'headers' => [\n        'Authorization' => 'Bearer YOUR_TOKEN',\n        'Content-Type' => 'application/json',\n    ],\n    'json' => [\n        'instruction' => 'When a customer asks about refunds, explain the 30-day return policy...'\n    ],\n]);\n$data = json_decode($response->getBody());"
          },
          "nodejs": {
            "lang": "javascript",
            "source": "const axios = require('axios');\n\nconst response = await axios.post('{{baseUrl}}/agents/123e4567-e89b-12d3-a456-426614174000/trainings', {\n  instruction: 'When a customer asks about refunds, explain the 30-day return policy...'\n}, {\n  headers: {\n    'Authorization': 'Bearer YOUR_TOKEN'\n  }\n});\nconst data = response.data;"
          }
        }
      }
    },
    "/agents/{agent_id}/trainings/{training_id}": {
      "delete": {
        "tags": ["Training"],
        "summary": "Delete agent training",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Agent ID"
          },
          {
            "name": "training_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Training ID"
          }
        ],
        "responses": {
          "204": {
            "description": "Training deleted successfully"
          },
          "404": {
            "description": "Training not found"
          }
        },
        "x-code-samples": {
          "curl": {
            "lang": "curl",
            "source": "curl -X DELETE \\\n  '{{baseUrl}}/agents/123e4567-e89b-12d3-a456-426614174000/trainings/456e4567-e89b-12d3-a456-426614174000' \\\n  -H 'Authorization: Bearer YOUR_TOKEN'"
          },
          "php": {
            "lang": "php",
            "source": "<?php\n\n$client = new \\GuzzleHttp\\Client();\n$response = $client->delete('{{baseUrl}}/agents/123e4567-e89b-12d3-a456-426614174000/trainings/456e4567-e89b-12d3-a456-426614174000', [\n    'headers' => [\n        'Authorization' => 'Bearer YOUR_TOKEN',\n    ],\n]);"
          },
          "nodejs": {
            "lang": "javascript",
            "source": "const axios = require('axios');\n\nconst response = await axios.delete('{{baseUrl}}/agents/123e4567-e89b-12d3-a456-426614174000/trainings/456e4567-e89b-12d3-a456-426614174000', {\n  headers: {\n    'Authorization': 'Bearer YOUR_TOKEN'\n  }\n});"
          }
        }
      }
    },
    "/agents/{agent_id}/actions": {
      "get": {
        "tags": ["Actions"],
        "summary": "List agent actions",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Agent ID"
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            },
            "description": "Number of items per page"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "Actions retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                  "type": "array",
                  "items": {
                        "$ref": "#/components/schemas/Action"
                  }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                }
              }
            }
          }
        }
      }
    },
        "x-code-samples": {
          "curl": {
            "lang": "curl",
            "source": "curl -X GET \\\n  '{{baseUrl}}/agents/123e4567-e89b-12d3-a456-426614174000/actions' \\\n  -H 'Authorization: Bearer YOUR_TOKEN'"
          },
          "php": {
            "lang": "php",
            "source": "<?php\n\n$client = new \\GuzzleHttp\\Client();\n$response = $client->get('{{baseUrl}}/agents/123e4567-e89b-12d3-a456-426614174000/actions', [\n    'headers' => [\n        'Authorization' => 'Bearer YOUR_TOKEN',\n    ],\n]);\n$data = json_decode($response->getBody());"
          },
          "nodejs": {
            "lang": "javascript",
            "source": "const axios = require('axios');\n\nconst response = await axios.get('{{baseUrl}}/agents/123e4567-e89b-12d3-a456-426614174000/actions', {\n  headers: {\n    'Authorization': 'Bearer YOUR_TOKEN'\n  }\n});\nconst data = response.data;"
          }
        }
      },
      "post": {
        "tags": ["Actions"],
        "summary": "Create agent action",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Agent ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name", "type", "trigger"],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Action name"
                  },
                  "type": {
                    "type": "string",
                    "enum": ["webhook", "transfer", "hangup"],
                    "description": "Action type"
                  },
                  "trigger": {
                    "type": "string",
                    "description": "Trigger condition"
                  },
                  "config": {
                    "type": "object",
                    "description": "Action configuration"
                  }
                }
              },
              "example": {
                "name": "Transfer to Human",
                "type": "transfer",
                "trigger": "customer asks for human",
                "config": {
                  "phone_number": "+1234567890"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Action created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Action"
                }
              }
            }
          },
          "422": {
            "description": "Validation error"
          }
        },
        "x-code-samples": {
          "curl": {
            "lang": "curl",
            "source": "curl -X POST \\\n  '{{baseUrl}}/agents/123e4567-e89b-12d3-a456-426614174000/actions' \\\n  -H 'Content-Type: application/json' \\\n  -H 'Authorization: Bearer YOUR_TOKEN' \\\n  -d '{\n    \"name\": \"Transfer to Human\",\n    \"type\": \"transfer\",\n    \"trigger\": \"customer asks for human\",\n    \"config\": {\n      \"phone_number\": \"+1234567890\"\n    }\n  }'"
          },
          "php": {
            "lang": "php",
            "source": "<?php\n\n$client = new \\GuzzleHttp\\Client();\n$response = $client->post('{{baseUrl}}/agents/123e4567-e89b-12d3-a456-426614174000/actions', [\n    'headers' => [\n        'Authorization' => 'Bearer YOUR_TOKEN',\n        'Content-Type' => 'application/json',\n    ],\n    'json' => [\n        'name' => 'Transfer to Human',\n        'type' => 'transfer',\n        'trigger' => 'customer asks for human',\n        'config' => [\n            'phone_number' => '+1234567890'\n        ]\n    ],\n]);\n$data = json_decode($response->getBody());"
          },
          "nodejs": {
            "lang": "javascript",
            "source": "const axios = require('axios');\n\nconst response = await axios.post('{{baseUrl}}/agents/123e4567-e89b-12d3-a456-426614174000/actions', {\n  name: 'Transfer to Human',\n  type: 'transfer',\n  trigger: 'customer asks for human',\n  config: {\n    phone_number: '+1234567890'\n  }\n}, {\n  headers: {\n    'Authorization': 'Bearer YOUR_TOKEN'\n  }\n});\nconst data = response.data;"
          }
        }
      }
    },
    "/agents/{agent_id}/actions/{action_id}": {
      "delete": {
        "tags": ["Actions"],
        "summary": "Delete agent action",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Agent ID"
          },
          {
            "name": "action_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Action ID"
          }
        ],
        "responses": {
          "204": {
            "description": "Action deleted successfully"
          },
          "404": {
            "description": "Action not found"
          }
        },
        "x-code-samples": {
          "curl": {
            "lang": "curl",
            "source": "curl -X DELETE \\\n  '{{baseUrl}}/agents/123e4567-e89b-12d3-a456-426614174000/actions/456e4567-e89b-12d3-a456-426614174000' \\\n  -H 'Authorization: Bearer YOUR_TOKEN'"
          },
          "php": {
            "lang": "php",
            "source": "<?php\n\n$client = new \\GuzzleHttp\\Client();\n$response = $client->delete('{{baseUrl}}/agents/123e4567-e89b-12d3-a456-426614174000/actions/456e4567-e89b-12d3-a456-426614174000', [\n    'headers' => [\n        'Authorization' => 'Bearer YOUR_TOKEN',\n    ],\n]);"
          },
          "nodejs": {
            "lang": "javascript",
            "source": "const axios = require('axios');\n\nconst response = await axios.delete('{{baseUrl}}/agents/123e4567-e89b-12d3-a456-426614174000/actions/456e4567-e89b-12d3-a456-426614174000', {\n  headers: {\n    'Authorization': 'Bearer YOUR_TOKEN'\n  }\n});"
          }
        }
      }
    },
    "/calls": {
      "get": {
        "tags": ["Calls"],
        "summary": "List all calls",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search in phone numbers or call SID"
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            },
            "description": "Number of items per page"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "Calls retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Call"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  }
                }
              }
            }
          }
        },
        "x-code-samples": {
          "curl": {
            "lang": "curl",
            "source": "curl -X GET \\\n  '{{baseUrl}}/calls' \\\n  -H 'Authorization: Bearer YOUR_TOKEN'"
          },
          "php": {
            "lang": "php",
            "source": "<?php\n\n$client = new \\GuzzleHttp\\Client();\n$response = $client->get('{{baseUrl}}/calls', [\n    'headers' => [\n        'Authorization' => 'Bearer YOUR_TOKEN',\n    ],\n]);\n$data = json_decode($response->getBody());"
          },
          "nodejs": {
            "lang": "javascript",
            "source": "const axios = require('axios');\n\nconst response = await axios.get('{{baseUrl}}/calls', {\n  headers: {\n    'Authorization': 'Bearer YOUR_TOKEN'\n  }\n});\nconst data = response.data;"
          }
        }
      }
    },
    "/campaigns": {
      "get": {
        "tags": ["Campaigns"],
        "summary": "List campaigns",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["draft", "active", "paused", "completed"]
            },
            "description": "Filter by campaign status"
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            },
            "description": "Number of items per page"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "Campaigns retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Campaign"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  }
                }
              }
            }
          }
        },
        "x-code-samples": {
          "curl": {
            "lang": "curl",
            "source": "curl -X GET \\\n  '{{baseUrl}}/campaigns' \\\n  -H 'Authorization: Bearer YOUR_TOKEN'"
          },
          "php": {
            "lang": "php",
            "source": "<?php\n\n$client = new \\GuzzleHttp\\Client();\n$response = $client->get('{{baseUrl}}/campaigns', [\n    'headers' => [\n        'Authorization' => 'Bearer YOUR_TOKEN',\n    ],\n]);\n$data = json_decode($response->getBody());"
          },
          "nodejs": {
            "lang": "javascript",
            "source": "const axios = require('axios');\n\nconst response = await axios.get('{{baseUrl}}/campaigns', {\n  headers: {\n    'Authorization': 'Bearer YOUR_TOKEN'\n  }\n});\nconst data = response.data;"
          }
        }
      },
      "post": {
        "tags": ["Campaigns"],
        "summary": "Create a new campaign",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name", "agent_id", "phone_number_id"],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Campaign name"
                  },
                  "description": {
                    "type": "string",
                    "description": "Campaign description"
                  },
                  "agent_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Agent ID"
                  },
                  "phone_number_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Phone number ID"
                  },
                  "max_calls_per_hour": {
                    "type": "integer",
                    "description": "Maximum calls per hour"
                  },
                  "max_calls_per_day": {
                    "type": "integer",
                    "description": "Maximum calls per day"
                  },
                  "voicemail_hours": {
                    "type": "integer",
                    "description": "Hours to wait after voicemail calls"
                  },
                  "auto_add_to_dnc": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": ["completed", "voicemail"]
                    },
                    "description": "Call statuses that trigger auto-add to DNC"
                  }
                }
              },
              "example": {
                "name": "Customer Outreach Campaign",
                "description": "Outreach campaign for existing customers",
                "agent_id": "123e4567-e89b-12d3-a456-426614174000",
                "phone_number_id": "456e4567-e89b-12d3-a456-426614174000",
                "max_calls_per_hour": 10,
                "max_calls_per_day": 100,
                "voicemail_hours": 24,
                "auto_add_to_dnc": ["completed", "voicemail"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Campaign created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            }
          },
          "422": {
            "description": "Validation error"
          }
        },
        "x-code-samples": {
          "curl": {
            "lang": "curl",
            "source": "curl -X POST \\\n  '{{baseUrl}}/campaigns' \\\n  -H 'Content-Type: application/json' \\\n  -H 'Authorization: Bearer YOUR_TOKEN' \\\n  -d '{\n    \"name\": \"Customer Outreach Campaign\",\n    \"agent_id\": \"123e4567-e89b-12d3-a456-426614174000\",\n    \"phone_number_id\": \"456e4567-e89b-12d3-a456-426614174000\",\n    \"max_calls_per_hour\": 10,\n    \"max_calls_per_day\": 100\n  }'"
          },
          "php": {
            "lang": "php",
            "source": "<?php\n\n$client = new \\GuzzleHttp\\Client();\n$response = $client->post('{{baseUrl}}/campaigns', [\n    'headers' => [\n        'Authorization' => 'Bearer YOUR_TOKEN',\n        'Content-Type' => 'application/json',\n    ],\n    'json' => [\n        'name' => 'Customer Outreach Campaign',\n        'agent_id' => '123e4567-e89b-12d3-a456-426614174000',\n        'phone_number_id' => '456e4567-e89b-12d3-a456-426614174000',\n        'max_calls_per_hour' => 10,\n        'max_calls_per_day' => 100\n    ],\n]);\n$data = json_decode($response->getBody());"
          },
          "nodejs": {
            "lang": "javascript",
            "source": "const axios = require('axios');\n\nconst response = await axios.post('{{baseUrl}}/campaigns', {\n  name: 'Customer Outreach Campaign',\n  agent_id: '123e4567-e89b-12d3-a456-426614174000',\n  phone_number_id: '456e4567-e89b-12d3-a456-426614174000',\n  max_calls_per_hour: 10,\n  max_calls_per_day: 100\n}, {\n  headers: {\n    'Authorization': 'Bearer YOUR_TOKEN'\n  }\n});\nconst data = response.data;"
          }
        }
      }
    },
    "/campaigns/{campaign_id}": {
      "get": {
        "tags": ["Campaigns"],
        "summary": "Get a specific campaign",
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Campaign ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            }
          },
          "404": {
            "description": "Campaign not found"
          }
        },
        "x-code-samples": {
          "curl": {
            "lang": "curl",
            "source": "curl -X GET \\\n  '{{baseUrl}}/campaigns/123e4567-e89b-12d3-a456-426614174000' \\\n  -H 'Authorization: Bearer YOUR_TOKEN'"
          },
          "php": {
            "lang": "php",
            "source": "<?php\n\n$client = new \\GuzzleHttp\\Client();\n$response = $client->get('{{baseUrl}}/campaigns/123e4567-e89b-12d3-a456-426614174000', [\n    'headers' => [\n        'Authorization' => 'Bearer YOUR_TOKEN',\n    ],\n]);\n$data = json_decode($response->getBody());"
          },
          "nodejs": {
            "lang": "javascript",
            "source": "const axios = require('axios');\n\nconst response = await axios.get('{{baseUrl}}/campaigns/123e4567-e89b-12d3-a456-426614174000', {\n  headers: {\n    'Authorization': 'Bearer YOUR_TOKEN'\n  }\n});\nconst data = response.data;"
          }
        }
      },
      "put": {
        "tags": ["Campaigns"],
        "summary": "Update a campaign",
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Campaign ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Campaign name"
                  },
                  "description": {
                    "type": "string",
                    "description": "Campaign description"
                  },
                  "max_calls_per_hour": {
                    "type": "integer",
                    "description": "Maximum calls per hour"
                  },
                  "max_calls_per_day": {
                    "type": "integer",
                    "description": "Maximum calls per day"
                  },
                  "voicemail_hours": {
                    "type": "integer",
                    "description": "Hours to wait after voicemail calls"
                  },
                  "auto_add_to_dnc": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": ["completed", "voicemail"]
                    },
                    "description": "Call statuses that trigger auto-add to DNC"
                  }
                }
              },
              "example": {
                "name": "Updated Customer Outreach Campaign",
                "max_calls_per_hour": 15,
                "max_calls_per_day": 150
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Campaign updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            }
          },
          "404": {
            "description": "Campaign not found"
          }
        },
        "x-code-samples": {
          "curl": {
            "lang": "curl",
            "source": "curl -X PUT \\\n  '{{baseUrl}}/campaigns/123e4567-e89b-12d3-a456-426614174000' \\\n  -H 'Content-Type: application/json' \\\n  -H 'Authorization: Bearer YOUR_TOKEN' \\\n  -d '{\n    \"name\": \"Updated Customer Outreach Campaign\",\n    \"max_calls_per_hour\": 15,\n    \"max_calls_per_day\": 150\n  }'"
          },
          "php": {
            "lang": "php",
            "source": "<?php\n\n$client = new \\GuzzleHttp\\Client();\n$response = $client->put('{{baseUrl}}/campaigns/123e4567-e89b-12d3-a456-426614174000', [\n    'headers' => [\n        'Authorization' => 'Bearer YOUR_TOKEN',\n        'Content-Type' => 'application/json',\n    ],\n    'json' => [\n        'name' => 'Updated Customer Outreach Campaign',\n        'max_calls_per_hour' => 15,\n        'max_calls_per_day' => 150\n    ],\n]);\n$data = json_decode($response->getBody());"
          },
          "nodejs": {
            "lang": "javascript",
            "source": "const axios = require('axios');\n\nconst response = await axios.put('{{baseUrl}}/campaigns/123e4567-e89b-12d3-a456-426614174000', {\n  name: 'Updated Customer Outreach Campaign',\n  max_calls_per_hour: 15,\n  max_calls_per_day: 150\n}, {\n  headers: {\n    'Authorization': 'Bearer YOUR_TOKEN'\n  }\n});\nconst data = response.data;"
          }
        }
      },
      "delete": {
        "tags": ["Campaigns"],
        "summary": "Delete a campaign",
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Campaign ID"
          }
        ],
        "responses": {
          "204": {
            "description": "Campaign deleted successfully"
          },
          "404": {
            "description": "Campaign not found"
          }
        },
        "x-code-samples": {
          "curl": {
            "lang": "curl",
            "source": "curl -X DELETE \\\n  '{{baseUrl}}/campaigns/123e4567-e89b-12d3-a456-426614174000' \\\n  -H 'Authorization: Bearer YOUR_TOKEN'"
          },
          "php": {
            "lang": "php",
            "source": "<?php\n\n$client = new \\GuzzleHttp\\Client();\n$response = $client->delete('{{baseUrl}}/campaigns/123e4567-e89b-12d3-a456-426614174000', [\n    'headers' => [\n        'Authorization' => 'Bearer YOUR_TOKEN',\n    ],\n]);"
          },
          "nodejs": {
            "lang": "javascript",
            "source": "const axios = require('axios');\n\nconst response = await axios.delete('{{baseUrl}}/campaigns/123e4567-e89b-12d3-a456-426614174000', {\n  headers: {\n    'Authorization': 'Bearer YOUR_TOKEN'\n  }\n});"
          }
        }
      }
    },
    "/campaigns/{campaign_id}/status": {
      "patch": {
        "tags": ["Campaigns"],
        "summary": "Update campaign status",
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Campaign ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["status"],
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": ["draft", "active", "paused", "completed"],
                    "description": "Campaign status"
                  }
                }
              },
                "example": {
                "status": "active"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Campaign status updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            }
          },
          "404": {
            "description": "Campaign not found"
          }
        },
        "x-code-samples": {
          "curl": {
            "lang": "curl",
            "source": "curl -X PATCH \\\n  '{{baseUrl}}/campaigns/123e4567-e89b-12d3-a456-426614174000/status' \\\n  -H 'Content-Type: application/json' \\\n  -H 'Authorization: Bearer YOUR_TOKEN' \\\n  -d '{\n    \"status\": \"active\"\n  }'"
          },
          "php": {
            "lang": "php",
            "source": "<?php\n\n$client = new \\GuzzleHttp\\Client();\n$response = $client->patch('{{baseUrl}}/campaigns/123e4567-e89b-12d3-a456-426614174000/status', [\n    'headers' => [\n        'Authorization' => 'Bearer YOUR_TOKEN',\n        'Content-Type' => 'application/json',\n    ],\n    'json' => [\n        'status' => 'active'\n    ],\n]);\n$data = json_decode($response->getBody());"
          },
          "nodejs": {
            "lang": "javascript",
            "source": "const axios = require('axios');\n\nconst response = await axios.patch('{{baseUrl}}/campaigns/123e4567-e89b-12d3-a456-426614174000/status', {\n  status: 'active'\n}, {\n  headers: {\n    'Authorization': 'Bearer YOUR_TOKEN'\n  }\n});\nconst data = response.data;"
          }
        }
      }
    },
    "/campaigns/{campaign_id}/call": {
      "post": {
        "tags": ["Calls"],
        "summary": "Make a campaign call",
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Campaign ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["to"],
                "properties": {
                  "to": {
                    "type": "string",
                    "description": "Phone number to call (international format)"
                  },
                  "payload": {
                    "type": "object",
                    "description": "Replacement variables for the campaign agent prompt"
                  },
                  "context": {
                    "type": "object",
                    "description": "Custom data to be sent back to client via webhooks"
                  }
                }
              },
              "example": {
                "to": "+1234567890",
                "payload": {
                  "customer_name": "John Doe",
                  "order_id": "12345"
                },
                "context": {
                  "user_id": "user_123",
                  "source": "web_app"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Campaign call initiated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Call"
                }
              }
            }
          },
          "422": {
            "description": "Validation error"
          }
        },
        "x-code-samples": {
          "curl": {
            "lang": "curl",
            "source": "curl -X POST \\\n  '{{baseUrl}}/campaigns/123e4567-e89b-12d3-a456-426614174000/call' \\\n  -H 'Content-Type: application/json' \\\n  -H 'Authorization: Bearer YOUR_TOKEN' \\\n  -d '{\n    \"to\": \"+1234567890\",\n    \"payload\": {\n      \"customer_name\": \"John Doe\",\n      \"order_id\": \"12345\"\n    },\n    \"context\": {\n      \"user_id\": \"user_123\",\n      \"source\": \"web_app\"\n    }\n  }'"
          },
          "php": {
            "lang": "php",
            "source": "<?php\n\n$client = new \\GuzzleHttp\\Client();\n$response = $client->post('{{baseUrl}}/campaigns/123e4567-e89b-12d3-a456-426614174000/call', [\n    'headers' => [\n        'Authorization' => 'Bearer YOUR_TOKEN',\n        'Content-Type' => 'application/json',\n    ],\n    'json' => [\n        'to' => '+1234567890',\n        'payload' => [\n            'customer_name' => 'John Doe',\n            'order_id' => '12345'\n        ],\n        'context' => [\n            'user_id' => 'user_123',\n            'source' => 'web_app'\n        ]\n    ],\n]);\n$data = json_decode($response->getBody());"
          },
          "nodejs": {
            "lang": "javascript",
            "source": "const axios = require('axios');\n\nconst response = await axios.post('{{baseUrl}}/campaigns/123e4567-e89b-12d3-a456-426614174000/call', {\n  to: '+1234567890',\n  payload: {\n    customer_name: 'John Doe',\n    order_id: '12345'\n  },\n  context: {\n    user_id: 'user_123',\n    source: 'web_app'\n  }\n}, {\n  headers: {\n    'Authorization': 'Bearer YOUR_TOKEN'\n  }\n});\nconst data = response.data;"
          }
        }
      }
    },
    "/agents/{agent_id}/call": {
      "post": {
        "tags": ["Custom Telephony"],
        "summary": "Create external call or use existing telephony",
        "description": "Create calls that can use either existing telephony flow or external websocket transport based on agent configuration. The request body structure determines the call type:\n- Simple payload with only 'to' field: Uses existing telephony flow\n- Full payload with 'sid', 'from', 'to', 'direction': Creates external call with websocket transport",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Agent ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "required": ["to"],
                    "properties": {
                      "to": {
                        "type": "string",
                        "description": "Phone number to call (international format) - for existing telephony flow"
                      },
                      "payload": {
                        "type": "object",
                        "description": "Replacement variables for the agent prompt"
                      },
                      "context": {
                        "type": "object",
                        "description": "Custom data to be sent back to client via webhooks"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "required": ["sid", "from", "to", "direction"],
                    "properties": {
                      "sid": {
                        "type": "string",
                        "description": "Session ID for the external call. This should be provided by your external telephony provider."
                      },
                      "from": {
                        "type": "string",
                        "description": "The phone number making the call. Must be in international format (e.g., +1234567890)."
                      },
                      "to": {
                        "type": "string",
                        "description": "The phone number to call. Must be in international format (e.g., +1234567890)."
                      },
                      "direction": {
                        "type": "string",
                        "description": "Call direction. Typically \"outbound\" for outgoing calls."
                      },
                      "payload": {
                        "type": "object",
                        "description": "Replacement variables for the agent prompt."
                      },
                      "context": {
                        "type": "object",
                        "description": "Custom data to be sent back to client via webhooks"
                      }
                    }
                  }
                ]
              },
              "examples": {
                "existing_telephony": {
                  "summary": "Existing Telephony Call",
                  "description": "Uses existing telephony flow when agent.use_transport = true",
                  "value": {
                    "to": "+1234567890",
                    "payload": {
                      "customer_name": "John Doe",
                      "account_id": "ACC123"
                    },
                    "context": {
                      "user_id": "user_123",
                      "source": "web_app"
                    }
                  }
                },
                "external_call": {
                  "summary": "External Call",
                  "description": "Creates external call when agent.use_transport = false",
                  "value": {
                    "sid": "EX123456789",
                    "from": "+1234567890",
                    "to": "+0987654321",
                    "direction": "outbound",
                    "payload": {
                      "customer_name": "John Doe",
                      "account_id": "ACC123"
                    },
                    "context": {
                      "user_id": "user_123",
                      "source": "web_app"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Call created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Call"
                    },
                    {
                      "$ref": "#/components/schemas/ExternalCall"
                    }
                  ]
                },
                "examples": {
                  "existing_telephony": {
                    "summary": "Existing Telephony Response",
                    "description": "Response when using existing telephony flow",
                    "value": {
                    "id": "123e4567-e89b-12d3-a456-426614174000",
                      "sid": "TQ123456789",
                      "status": "initiated",
                    "to": "+1234567890",
                    "from": "+0987654321",
                      "created_at": "2024-01-01T00:00:00Z"
                    }
                  },
                  "external_call": {
                    "summary": "External Call Response",
                    "description": "Response when creating external call",
                    "value": {
                      "id": "123e4567-e89b-12d3-a456-426614174000",
                      "agent_id": "agent_123456",
                      "type": "external.websocket",
                      "created_at": "2024-01-01T00:00:00Z",
                      "updated_at": "2024-01-01T00:00:00Z",
                      "org_id": "org_123456",
                      "cost": 0,
                      "status": "ready",
                      "transport": {
                        "provider": "external.websocket",
                        "websocketCallUrl": "wss://us-agent.talkover.app/123e4567-e89b-12d3-a456-426614174000/transport?x-talq=your_token_here"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation error"
          },
          "404": {
            "description": "Agent not found"
          }
        },
        "x-code-samples": {
          "curl": {
            "lang": "curl",
            "source": "curl -X POST \\\n  '{{baseUrl}}/agents/123e4567-e89b-12d3-a456-426614174000/call' \\\n  -H 'Content-Type: application/json' \\\n  -H 'Authorization: Bearer YOUR_TOKEN' \\\n  -d '{\n    \"sid\": \"EX123456789\",\n    \"from\": \"+1234567890\",\n    \"to\": \"+0987654321\",\n    \"direction\": \"outbound\",\n    \"payload\": {\n      \"customer_name\": \"John Doe\",\n      \"account_id\": \"ACC123\"\n    },\n    \"context\": {\n      \"user_id\": \"user_123\",\n      \"source\": \"web_app\"\n    }\n  }'"
          },
          "php": {
            "lang": "php",
            "source": "<?php\n\n$client = new \\GuzzleHttp\\Client();\n$response = $client->post('{{baseUrl}}/agents/123e4567-e89b-12d3-a456-426614174000/call', [\n    'headers' => [\n        'Authorization' => 'Bearer YOUR_TOKEN',\n        'Content-Type' => 'application/json',\n    ],\n    'json' => [\n        'to' => '+1234567890',\n        'payload' => [\n            'customer_name' => 'John Doe'\n        ],\n        'context' => [\n            'user_id' => 'user_123',\n            'source' => 'web_app'\n        ]\n    ],\n]);\n$data = json_decode($response->getBody());"
          },
          "nodejs": {
            "lang": "javascript",
            "source": "const axios = require('axios');\n\nconst response = await axios.post('{{baseUrl}}/agents/123e4567-e89b-12d3-a456-426614174000/call', {\n  to: '+1234567890',\n  payload: {\n    customer_name: 'John Doe'\n  },\n  context: {\n    user_id: 'user_123',\n    source: 'web_app'\n  }\n}, {\n  headers: {\n    'Authorization': 'Bearer YOUR_TOKEN'\n  }\n});\nconst data = response.data;"
          }
        }
      }
    },
    "/voice-templates": {
      "get": {
        "tags": ["Voice Templates"],
        "summary": "List voice templates",
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by language"
          },
          {
            "name": "gender",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["male", "female"]
            },
            "description": "Filter by gender"
          },
          {
            "name": "quality_tier",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["basic", "pro", "premium"]
            },
            "description": "Filter by quality tier"
          }
        ],
        "responses": {
          "200": {
            "description": "Voice templates retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/VoiceTemplateGroup"
                  }
                }
              }
            }
          }
        },
        "x-code-samples": {
          "curl": {
            "lang": "curl",
            "source": "curl -X GET \\\n  '{{baseUrl}}/voice-templates' \\\n  -H 'Authorization: Bearer YOUR_TOKEN'"
          },
          "php": {
            "lang": "php",
            "source": "<?php\n\n$client = new \\GuzzleHttp\\Client();\n$response = $client->get('{{baseUrl}}/voice-templates', [\n    'headers' => [\n        'Authorization' => 'Bearer YOUR_TOKEN',\n    ],\n]);\n$data = json_decode($response->getBody());"
          },
          "nodejs": {
            "lang": "javascript",
            "source": "const axios = require('axios');\n\nconst response = await axios.get('{{baseUrl}}/voice-templates', {\n  headers: {\n    'Authorization': 'Bearer YOUR_TOKEN'\n  }\n});\nconst data = response.data;"
          }
        }
      }
    },
    "/voice-templates/{voice_template_id}/demo": {
      "get": {
        "tags": ["Voice Templates"],
        "summary": "Generate voice template demo",
        "parameters": [
          {
            "name": "voice_template_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Voice template ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Demo audio generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "demo_url": {
                  "type": "string",
                      "format": "uri",
                      "description": "URL to the demo audio file"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Voice template not found"
          }
        },
        "x-code-samples": {
          "curl": {
            "lang": "curl",
            "source": "curl -X GET \\\n  '{{baseUrl}}/voice-templates/123e4567-e89b-12d3-a456-426614174000/demo' \\\n  -H 'Authorization: Bearer YOUR_TOKEN'"
          },
          "php": {
            "lang": "php",
            "source": "<?php\n\n$client = new \\GuzzleHttp\\Client();\n$response = $client->get('{{baseUrl}}/voice-templates/123e4567-e89b-12d3-a456-426614174000/demo', [\n    'headers' => [\n        'Authorization' => 'Bearer YOUR_TOKEN',\n    ],\n]);\n$data = json_decode($response->getBody());"
          },
          "nodejs": {
            "lang": "javascript",
            "source": "const axios = require('axios');\n\nconst response = await axios.get('{{baseUrl}}/voice-templates/123e4567-e89b-12d3-a456-426614174000/demo', {\n  headers: {\n    'Authorization': 'Bearer YOUR_TOKEN'\n  }\n});\nconst data = response.data;"
          }
        }
      }
    },
    "/phone-numbers": {
      "get": {
        "tags": ["Phone Numbers"],
        "summary": "List phone numbers",
        "parameters": [
          {
            "name": "has_voice",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Filter by voice capability"
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            },
            "description": "Number of items per page"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "Phone numbers retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PhoneNumber"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  }
                }
              }
            }
          }
        },
        "x-code-samples": {
          "curl": {
            "lang": "curl",
            "source": "curl -X GET \\\n  '{{baseUrl}}/phone-numbers' \\\n  -H 'Authorization: Bearer YOUR_TOKEN'"
          },
          "php": {
            "lang": "php",
            "source": "<?php\n\n$client = new \\GuzzleHttp\\Client();\n$response = $client->get('{{baseUrl}}/phone-numbers', [\n    'headers' => [\n        'Authorization' => 'Bearer YOUR_TOKEN',\n    ],\n]);\n$data = json_decode($response->getBody());"
          },
          "nodejs": {
            "lang": "javascript",
            "source": "const axios = require('axios');\n\nconst response = await axios.get('{{baseUrl}}/phone-numbers', {\n  headers: {\n    'Authorization': 'Bearer YOUR_TOKEN'\n  }\n});\nconst data = response.data;"
          }
        }
      }
    },
    "/agents/{agent_id}/webhooks": {
      "get": {
        "tags": ["Webhooks"],
        "summary": "List agent webhooks",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Agent UUID"
          }
        ],
        "responses": {
          "200": {
            "description": "Webhooks retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
        "type": "object",
        "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "webhooks": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Webhook"
                          }
                        },
                        "available_events": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Agent not found"
          }
        },
        "x-code-samples": {
          "curl": {
            "lang": "curl",
            "source": "curl -X GET \\\n  '{{baseUrl}}/agents/9fbef0b7-8d4e-4a08-9207-66c22155721d/webhooks' \\\n  -H 'Authorization: Bearer YOUR_TOKEN'"
          }
        }
      },
      "post": {
        "tags": ["Webhooks"],
        "summary": "Create webhook",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
            "type": "string",
            "format": "uuid"
          },
            "description": "Agent UUID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWebhookRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
            "type": "string"
          },
                    "data": {
                      "$ref": "#/components/schemas/Webhook"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Agent not found"
          },
          "422": {
            "description": "Validation error"
          }
        },
        "x-code-samples": {
          "curl": {
            "lang": "curl",
            "source": "curl -X POST \\\n  '{{baseUrl}}/agents/9fbef0b7-8d4e-4a08-9207-66c22155721d/webhooks' \\\n  -H 'Authorization: Bearer YOUR_TOKEN' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"name\": \"My Webhook\",\n    \"webhook_url\": \"https://example.com/webhook\",\n    \"events\": [\"event_phone_call_started\", \"event_phone_call_ended\"]\n  }'"
          }
        }
      }
    },
    "/agents/{agent_id}/webhooks/{webhook_id}": {
      "get": {
        "tags": ["Webhooks"],
        "summary": "Get webhook details",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
            "type": "string",
              "format": "uuid"
            },
            "description": "Agent UUID"
          },
          {
            "name": "webhook_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Webhook UUID"
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Webhook"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Webhook not found"
          }
        },
        "x-code-samples": {
          "curl": {
            "lang": "curl",
            "source": "curl -X GET \\\n  '{{baseUrl}}/agents/9fbef0b7-8d4e-4a08-9207-66c22155721d/webhooks/9fcafbf2-7593-44d6-8cd7-1b221beba62a' \\\n  -H 'Authorization: Bearer YOUR_TOKEN'"
          }
        }
      },
      "put": {
        "tags": ["Webhooks"],
        "summary": "Update webhook",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Agent UUID"
          },
          {
            "name": "webhook_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Webhook UUID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWebhookRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Webhook"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Webhook not found"
          },
          "422": {
            "description": "Validation error"
          }
        },
        "x-code-samples": {
          "curl": {
            "lang": "curl",
            "source": "curl -X PUT \\\n  '{{baseUrl}}/agents/9fbef0b7-8d4e-4a08-9207-66c22155721d/webhooks/9fcafbf2-7593-44d6-8cd7-1b221beba62a' \\\n  -H 'Authorization: Bearer YOUR_TOKEN' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"name\": \"Updated Webhook\",\n    \"enabled\": false\n  }'"
          }
        }
      },
      "delete": {
        "tags": ["Webhooks"],
        "summary": "Delete webhook",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Agent UUID"
          },
          {
            "name": "webhook_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Webhook UUID"
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Webhook not found"
          }
        },
        "x-code-samples": {
          "curl": {
            "lang": "curl",
            "source": "curl -X DELETE \\\n  '{{baseUrl}}/agents/9fbef0b7-8d4e-4a08-9207-66c22155721d/webhooks/9fcafbf2-7593-44d6-8cd7-1b221beba62a' \\\n  -H 'Authorization: Bearer YOUR_TOKEN'"
          }
        }
      }
    },
    "/agents/{agent_id}/webhooks/{webhook_id}/toggle": {
      "patch": {
        "tags": ["Webhooks"],
        "summary": "Toggle webhook status",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Agent UUID"
          },
          {
            "name": "webhook_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Webhook UUID"
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook status toggled successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Webhook"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Webhook not found"
          }
        },
        "x-code-samples": {
          "curl": {
            "lang": "curl",
            "source": "curl -X PATCH \\\n  '{{baseUrl}}/agents/9fbef0b7-8d4e-4a08-9207-66c22155721d/webhooks/9fcafbf2-7593-44d6-8cd7-1b221beba62a/toggle' \\\n  -H 'Authorization: Bearer YOUR_TOKEN'"
          }
        }
      }
    },
    "/agents/{agent_id}/webhooks/{webhook_id}/test": {
      "post": {
        "tags": ["Webhooks"],
        "summary": "Test webhook",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Agent UUID"
          },
          {
            "name": "webhook_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Webhook UUID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["url"],
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "The webhook URL to test"
                  }
          }
        },
        "example": {
                "url": "https://example.com/webhook"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook test sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "status_code": {
                          "type": "integer"
                        },
                        "response_time": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Webhook not found"
          }
        },
        "x-code-samples": {
          "curl": {
            "lang": "curl",
            "source": "curl -X POST \\\n  '{{baseUrl}}/agents/9fbef0b7-8d4e-4a08-9207-66c22155721d/webhooks/9fcafbf2-7593-44d6-8cd7-1b221beba62a/test' \\\n  -H 'Authorization: Bearer YOUR_TOKEN' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"url\": \"https://example.com/webhook\"\n  }'"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {

      "Agent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "label": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "language": {
            "type": "string"
          },
          "initial_message": {
            "type": "string"
          },
          "interrupt_sensitivity": {
            "type": "string",
            "enum": ["low", "medium", "high"]
          },
          "endpointing_sensitivity": {
            "type": "string"
          },
          "ivr_navigation_mode": {
            "type": "string"
          },
          "conversation_speed": {
            "type": "number"
          },
          "initial_message_delay": {
            "type": "integer"
          },
          "ask_if_human_present_on_idle": {
            "type": "boolean"
          },
          "idle_time_seconds": {
            "type": "integer"
          },
          "llm_temperature": {
            "type": "number"
          },
          "enable_recording": {
            "type": "boolean"
          },
          "direction": {
            "type": "string",
            "enum": ["inbound", "outbound"]
          },
          "who_speaks_first": {
            "type": "string",
            "enum": ["agent", "user"]
          },
          "status": {
            "type": "string",
            "enum": ["draft", "published"]
          },
          "voice_template": {
            "$ref": "#/components/schemas/VoiceTemplate"
          },
          "use_transport": {
            "type": "boolean",
            "description": "Whether to use existing telephony transport (true) or external websocket transport (false)"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "example": {
          "id": "123e4567-e89b-12d3-a456-426614174000",
          "label": "Customer Service Agent",
          "description": "A helpful customer service agent",
          "name": "Customer Service Agent",
          "language": "en-US",
          "initial_message": "Hello, how can I help you today?",
          "interrupt_sensitivity": "medium",
          "endpointing_sensitivity": "medium",
          "ivr_navigation_mode": "standard",
          "conversation_speed": 1.0,
          "initial_message_delay": 2,
          "ask_if_human_present_on_idle": true,
          "idle_time_seconds": 30,
          "llm_temperature": 0.7,
          "enable_recording": true,
          "direction": "inbound",
          "who_speaks_first": "agent",
          "status": "published",
          "created_at": "2024-01-01T00:00:00Z",
          "updated_at": "2024-01-01T00:00:00Z"
        }
      },
      "Call": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "sid": {
            "type": "string",
            "description": "Call Session ID"
          },
          "status": {
            "type": "string",
            "enum": ["initiated", "ringing", "in-progress", "completed", "failed"]
          },
          "to": {
            "type": "string"
          },
          "from": {
            "type": "string"
          },
          "duration": {
            "type": "integer",
            "description": "Call duration in seconds"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "ended_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "example": {
          "id": "123e4567-e89b-12d3-a456-426614174000",
          "sid": "TQ123456789",
          "status": "in-progress",
          "to": "+1234567890",
          "from": "+0987654321",
          "duration": 180,
          "created_at": "2024-01-01T00:00:00Z",
          "ended_at": "2024-01-01T00:05:00Z"
        }
      },
      "Campaign": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "agent_id": {
            "type": "string",
            "format": "uuid"
          },
          "phone_number_id": {
            "type": "string",
            "format": "uuid"
          },
          "max_calls_per_hour": {
            "type": "integer"
          },
          "max_calls_per_day": {
            "type": "integer"
          },
          "voicemail_hours": {
            "type": "integer"
          },
          "auto_add_to_dnc": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": ["completed", "voicemail"]
            }
          },
          "status": {
            "type": "string",
            "enum": ["draft", "active", "paused", "completed"]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "example": {
          "id": "123e4567-e89b-12d3-a456-426614174000",
          "name": "Customer Outreach Campaign",
          "description": "Outreach campaign for existing customers",
          "agent_id": "456e4567-e89b-12d3-a456-426614174000",
          "phone_number_id": "789e4567-e89b-12d3-a456-426614174000",
          "max_calls_per_hour": 10,
          "max_calls_per_day": 100,
          "voicemail_hours": 24,
          "auto_add_to_dnc": ["completed", "voicemail"],
          "status": "active",
          "created_at": "2024-01-01T00:00:00Z",
          "updated_at": "2024-01-01T00:00:00Z"
        }
      },
      "VoiceTemplate": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "display_name": {
            "type": "string"
          },
          "language": {
            "type": "string"
          },
          "gender": {
            "type": "string",
            "enum": ["male", "female"]
          },
          "quality_tier": {
            "type": "string",
            "enum": ["basic", "pro", "premium"]
          }
        },
        "example": {
          "id": "123e4567-e89b-12d3-a456-426614174000",
          "name": "Sarah",
          "display_name": "Sarah",
          "language": "en-US",
          "gender": "female",
          "quality_tier": "pro"
        }
      },
      "VoiceTemplateGroup": {
        "type": "object",
        "properties": {
          "display_name": {
            "type": "string"
          },
          "templates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VoiceTemplate"
            }
          }
        },
        "example": {
          "display_name": "Sarah",
          "templates": [
            {
              "id": "123e4567-e89b-12d3-a456-426614174000",
              "name": "Sarah",
              "display_name": "Sarah",
              "language": "en-US",
              "gender": "female",
              "quality_tier": "basic"
            },
            {
              "id": "456e4567-e89b-12d3-a456-426614174000",
              "name": "Sarah",
              "display_name": "Sarah",
              "language": "en-US",
              "gender": "female",
              "quality_tier": "pro"
            }
          ]
        }
      },
      "PhoneNumber": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
[...]
